.customizedNavBar {
    border-bottom: 1px solid black;
}

.links {
    text-decoration: none;
    color: grey;
}

.links:visited {
    text-decoration: none;
    color: grey;
}

.links:hover {
    text-decoration: none;
    color: black;
}

.moveContactMeRight {
    margin-left: 72vw;
}

.addedStyleAboutMe {
    background-image: url("https://media.istockphoto.com/vectors/abstract-technology-background-vector-id693749350?k=6&m=693749350&s=612x612&w=0&h=7lKlvDiYe8HoFKGsSFiyUv6_olpu-auSQBnmK2MmLYU=");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 2vh;
    border: 1px solid black;
    min-height: 60vh;
    padding-top: 15vh;
}

.myName {
    text-align: center;
    color: grey;
    font-weight: bolder;
    font-size: 10vh;
    font-family: 'Titillium Web', sans-serif;
}

.myPosition {
    text-align: center;
    color: grey;
    font-family: 'Titillium Web', sans-serif;
}