.customizedNavBar {
    background-color: #8C485E;
}

.links {
    text-decoration: none;
    color: white;
    margin-right: 3vw;
    font-family: 'Shadows Into Light', cursive;
    font-size: 3vh;
}

.links:visited {
    text-decoration: none;
    color: white;
}

.links:hover {
    text-decoration: none;
    color: lightgray;
}

.moveContactMeRight {
    margin-left: 60vw;
}

.addedStyleAboutMe {
    background-image: url("./brick.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 2vh;
    border: 2px solid #8C485E;
    min-height: 40vh;
    padding-top: 10vh;
}

.myName {
    text-align: center;
    color: #8C485E;
    font-weight: bolder;
    font-size: 10vh;
    font-family: 'Special Elite', cursive;
}

.myPosition {
    text-align: center;
    color: #4b4c4c;
    font-family: 'Shadows Into Light', cursive;
    font-style: italic;
    font-size: 4vh;
}